# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE / system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data (optional)
data/
datasets/
