<html>
<body>
    <div class="'login">
        <h1> FWI Prediction</h1>


        <!-- Main Input for Receiving Query to our ML-->
         <form action="{{ url_for('predict_datapoint')}}" method="post">
            <input type="text" name="Temperature" placeholder="Temeprature" required="required"/>
             <input type="text" name="RH" placeholder="RH" required="required"/>
             <input type="text" name="Ws" placeholder="Ws" required="required"/>
             <input type="text" name="Rain" placeholder="Rain" required="required"/>
             <input type="text" name="FFMC" placeholder="FFMC" required="required"/>
             <input type="text" name="DMC" placeholder="DMC" required="required"/>
             <input type="text" name="ISI" placeholder="ISI" required="required"/>
             <input type="text" name="Classes" placeholder="Classes" required="required"/>
             <input type="text" name="Region" placeholder="Region" required="required"/>


             <button Type="submit" class=""btn btn-primary btn-block btn-large> predict</button>
         </form>

         <h2>
            the FWI predicition is {{results}}
         </h2>

    </div>
</body>    
</html>